<div class="wrapper">
  <div id="formContent">
    <h2 class="active">Inscription</h2>
    <h2 class="inactive underlineHover"><a routerLink="/login">Connexion</a></h2>
    <form>
      <input type="text" id="email" class="" name="email" placeholder="Email">
      <input type="text" id="login" class="" name="login" placeholder="Nom d'utilisateur">
      <input type="text" id="password" class="" name="login" placeholder="Mot de Passe">
      <input type="submit" class="" value="Log In">
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="#">Mot de passe oublié ?</a>
    </div>
  </div>
</div>

