<div class="wrapper">
    <div id="formContent">
        <h2 class="active">Connexion</h2>
        <h2 class="inactive underlineHover"><a routerLink="/signup">Inscription</a> </h2>
        <form>
            <input type="text" id="login" class="" name="login" placeholder="Email">
            <input type="text" id="password" class="" name="login" placeholder="Mot de Passe">
            <input type="submit" class="" value="Log In">
        </form>
        <div id="formFooter">
            <a class="underlineHover" href="#">Mot de passe oublié ?</a>
        </div>
    </div>
</div>

