<ion-tabs>
    <ion-header>
        <br>
        <br>
        <br>
        <ion-title class="tamere">
            <img class="img-fluid" src="/assets/logo-paris-normandie.jpg" alt="">
        </ion-title>
    </ion-header>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon style="color: #1d569f" name="albums"></ion-icon>
            <ion-label>Actus</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="apps"></ion-icon>
            <ion-label>Carte</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="send"></ion-icon>
            <ion-label>Communauté</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
