<ion-header>
    <br>
    <ion-title>
        Nos lecteurs vous proposent
    </ion-title>
    <br>
</ion-header>
<ion-content>
    <ion-card class="welcome-card bg">
        <!--        <img src="/assets/shapes.svg" alt=""/>-->
        <div class="transparence">
            <ion-card-header>
                <ion-card-subtitle class="auteur">Auteur</ion-card-subtitle>
                <ion-card-title class="titre">Titre</ion-card-title>
            </ion-card-header>
            <ion-card-content class="synopsis">
                <p>Synopsis de l'article <br/>qui est très intéressant</p>
            </ion-card-content>
            <ion-card-content class="date">
                <p class="ilya">Il y a 3h</p>
            </ion-card-content>
        </div>
    </ion-card>
    <ion-card class="welcome-card bg">
        <!--        <img src="/assets/shapes.svg" alt=""/>-->
        <div class="transparence little-cards">
            <ion-card-header>
                <ion-card-subtitle class="auteur">Auteur</ion-card-subtitle>
                <ion-card-title class="titre">Titre</ion-card-title>
            </ion-card-header>
            <ion-card-content class="date">
                <p class="ilya">Il y a 3h</p>
            </ion-card-content>
        </div>
    </ion-card>
    <ion-card class="welcome-card bg">
        <!--        <img src="/assets/shapes.svg" alt=""/>-->
        <div class="transparence little-cards">
            <ion-card-header>
                <ion-card-subtitle class="auteur">Auteur</ion-card-subtitle>
                <ion-card-title class="titre">Titre</ion-card-title>
            </ion-card-header>
            <ion-card-content class="date">
                <p class="ilya">Il y a 3h</p>
            </ion-card-content>
        </div>
    </ion-card>
    <ion-card class="welcome-card bg">
        <!--        <img src="/assets/shapes.svg" alt=""/>-->
        <div class="transparence little-cards">
            <ion-card-header>
                <ion-card-subtitle class="auteur">Auteur</ion-card-subtitle>
                <ion-card-title class="titre">Titre</ion-card-title>
            </ion-card-header>
            <ion-card-content class="date">
                <p class="ilya">Il y a 3h</p>
            </ion-card-content>
        </div>
    </ion-card>
    <ion-card class="welcome-card bg">
        <div class="transparence little-cards">
            <ion-card-header>
                <ion-card-subtitle class="auteur">Auteur</ion-card-subtitle>
                <ion-card-title class="titre">Titre</ion-card-title>
            </ion-card-header>
            <ion-card-content class="date">
                <p class="ilya">Il y a 3h</p>
            </ion-card-content>
        </div>
    </ion-card>
</ion-content>
